.cards-cont img {
    height: 300px;
    border: solid 1px rgb(27, 27, 27);
    border-radius: 3px;

}

.cards-main {
    padding: 30px;
    text-align: center;
}
.cards-cont {
    padding-block: 20px;
    display: flex;
    gap: 30px;
}