/* .quotes-card {
    text-align: "center";
    box-shadow: var(--shadow-white) !important; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
} */

.quotes-card {
    text-align: "center";
    display: flex;
    flex-direction: column;
}